ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    object-fit: fill;
    margin: 0 auto;

}

li {
    margin-right: 15px;
}

header {
    display: flex;
    flex-direction: row;

}

.card {
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /*columns: 4 auto;*/
}

.card-img {
    width: 100%;
    height: 100%;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;

}

.speciality {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.title {
    text-align: center;
    color: grey;
    background-color: white;
}

body {
    background-color: rgb(22, 233, 15);
}

#section2 {
    background-image: url("../images/special-bg.jpg");
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#section2 h2,
#section2 h3 {
    color: white;
    text-align: center;

}